*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

$p-font: 'PT Sans', sans-serif;
$s-font: 'Lobster', cursive;
$pm-color: #101820ff;
$sec-color: #fee715ff;
$accent-color:#fff;


body{
    font-family: $p-font;
}

body, .wrapper{
    background-color: $pm-color;
}

// default styling

a{
    color:$sec-color;
}

.wrapper{
    max-width: 1270px;
    margin:0 auto;
    // background-color: white;
}

header{
    padding:25px 0;
    
    span.logo{
        font:{
            family: $s-font;
            size:40px;
            
        }
        color:$accent-color;
        
    }
}

main{
    padding:25px 0;
}

.quote-cont{
    position:relative;
    min-width: 400px;
    min-height: 400px;
    max-width: 600px;
    border: 2px solid $accent-color;
    margin:0 auto;
    padding:25px;
}

.social-bar {
	background-color: $accent-color;
	
}

.social-bar-lg{
    position: absolute;
    top:-2px;
    right:-2px;
    z-index: 1;
}

.social-bar a {
	display: inline-block;
	padding: 8px 12px;
	font-size: 17px;
    color:$pm-color;
    transition: 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

    &:hover{
        color:$sec-color;
    }
}


footer{
    text-align: center;
    color:$accent-color;
    padding:25px 0;
}