*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

$p-font: 'PT Sans', sans-serif;
$s-font: 'Lobster', cursive;
$pm-color: #101820ff;
$sec-color: #fee715ff;
$accent-color:#fff;


body{
    font-family: $p-font;
}

body, .wrapper{
    background-color: $pm-color;
}

// default styling

a{
    color:$sec-color;
}

.wrapper{
    max-width: 1270px;
    margin:0 auto;
    // background-color: white;
}

header{
    padding:25px 0;
    
    span.logo{
        font:{
            family: $s-font;
            size:40px;
            
        }
        color:$accent-color;
        
    }
}

main{
    padding:25px 0;
}

.quote-cont{
    position:relative;
    min-width: 400px;
    min-height: 400px;
    max-width: 600px;
    border: 2px solid $accent-color;
    margin:0 auto;
    padding:25px;
}

.social-bar {
	background-color: $accent-color;
	
}

.social-bar-lg{
    position: absolute;
    top:-2px;
    right:-2px;
    z-index: 1;
}

.social-bar a {
	display: inline-block;
	padding: 8px 12px;
	font-size: 17px;
    color:$pm-color;
    transition: 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

    &:hover{
        color:$sec-color;
    }
}

.flex-box {
	display: flex;
    margin-top:10px;
}

.flex-box .box:first-child{
    width:22%;
}

.flex-box .box:last-child{
    width:100% - 22%;
}

#quote-mark {
	color: $accent-color;
	font-size: 10em;
	font-family: $s-font;
}

blockquote {
	font-size: 1.6em;
	color: $sec-color;
	display: block;
	margin-top: 4em;
	padding: 10px 15px;
    
}


blockquote cite{
    display: block;
    font-size: 20px;
    text-align: right;
    text-decoration: underline;
    margin-top:15px;
    color: $accent-color;
}

#quote {
	min-height: 130px;
}

.ref-icon{
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}

.ref-icon a{
    color:$accent-color;
    transition: 300ms ease-out;
    
    
    &:hover{
        color:$sec-color;
    }

    &:not(:hover){
        transition: 300ms ease-in;
    }

    
}



footer{
    text-align: center;
    color:$accent-color;
    padding:25px 0;
}


// animation for generate quote

@keyframes rotateBtn{
    from{
        rotate:(0deg);
    }
    to{
        rotate:(180deg);
    }
}


.rotate{
    animation-name: rotateBtn;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

// responsive starts

@media screen and (max-width:1299px){

    .wrapper {
        max-width: 90% !important;
    }

}

@media screen and (max-width:991px){
    #quote-mark {
        font-size: 8.5em;
    }

    blockquote {
        font-size: 1.5em;
    }
}

@media screen and (max-width:767px){
    #quote-mark {
        font-size: 7em;
    }

    blockquote {
        font-size: 1.3em;
    }

    blockquote cite {
        font-size: 18px;
    }

    #quote {
        min-height: 110px;
    }
}

@media screen and (max-width:576px){
    .quote-cont {
        min-width: auto;
    }

    .flex-box .box:first-child, .flex-box .box:last-child {
        width: 100%;
    }

    .flex-box {
        flex-direction: column;
    }

    blockquote {
        margin-top: 0em;
    }

    #quote-mark {
        height: 70px;
        display: inline-block;
        margin-top: 20px;
    }

    .flex-box .box:first-child {
        height: 95px;
    }

    header {
        text-align: center;
    }

    .quote-cont {
        padding: 25px 15px;
    }

    blockquote cite {
        margin-top: 22px;
    }

    .ref-icon {
	margin-top: 25px;
    }

    #quote {
        min-height: 100px;
        text-align: justify;
    }
}